In [11]:
#First we import all necessary libraries
import pandas as pd
import numpy as np

**Then we import all the datasets (This dataset is imported from kaggle named as "Agricultural dataset for rajasthan"      owner-suraj)**

In [12]:
price=pd.read_csv(r"C:\Users\91779\Desktop\projects\rajasthan_agricultural\datasets\crop_price_data.csv")
production=pd.read_csv(r"C:\Users\91779\Desktop\projects\rajasthan_agricultural\datasets\crop_production_data.csv")
sad=pd.read_csv(r"C:\Users\91779\Desktop\projects\rajasthan_agricultural\datasets\soil_analysis_data.csv")
water_usage=pd.read_csv(r"C:\Users\91779\Desktop\projects\rajasthan_agricultural\datasets\water_usage_data.csv")

**Making excel sheet to manually access data**

In [ ]:

with pd.ExcelWriter("rajasthan_agriculture.xlsx") as writer:
    price.to_excel(writer, sheet_name="price")
    production.to_excel(writer, sheet_name="production")
    sad.to_excel(writer, sheet_name="sad")
    water_usage.to_excel(writer, sheet_name="water_usage")

In [29]:
price.head()
price.tail()
price.sample(5)
price.info()
price.isnull()
price.duplicated(subset=["District","Crop"]).sum()
price.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4819 entries, 0 to 4818
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   District             4819 non-null   object
 1   Crop                 4819 non-null   object
 2   Market               4819 non-null   object
 3   Date                 4819 non-null   object
 4   Price (INR/quintal)  4819 non-null   float64
dtypes: float64(1), object(4)
memory usage: 188.4+ KB

       Price (INR/quintal)
count          4819.000000
mean           2498.715360
std             295.651094
min            1323.279925
25%            2303.968087
50%            2497.697781
75%            2694.736166
max            3513.330472

In [31]:
production.head()
production.tail()
production.sample(5)
production.info()
production.isnull()
production.duplicated().sum()
production.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   District                  1000 non-null   object
 1   Crop                      1000 non-null   object
 2   Season                    1000 non-null   object
 3   Area (hectares)           1000 non-null   float64
 4   Yield (quintals)          1000 non-null   float64
 5   Production (metric tons)  1000 non-null   float64
dtypes: float64(3), object(3)
memory usage: 47.0+ KB

       Area (hectares)  Yield (quintals)  Production (metric tons)
count      1000.000000       1000.000000               1000.000000
mean      15046.881839         37.618328               5662.518485
std        2775.359803          8.218587               1629.922505
min        5276.197980         20.272936               1728.445956
25%       13165.258125         31.105150               4438.671582
50%       15108.130420         37.227050               5561.468281
75%       16944.950094         43.711205               6769.771692
max       20000.000000         60.429192              10834.530834

In [33]:
sad.head()
sad.tail()
sad.sample(5)
sad.info()
sad.isnull()
sad.duplicated().sum()
sad.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   District                    1000 non-null   object
 1   Soil Type                   1000 non-null   object
 2   pH Level                    1000 non-null   float64
 3   Organic Matter (%)          1000 non-null   float64
 4   Nitrogen Content (kg/ha)    1000 non-null   float64
 5   Phosphorus Content (kg/ha)  1000 non-null   float64
 6   Potassium Content (kg/ha)   1000 non-null   float64
dtypes: float64(5), object(2)
memory usage: 54.8+ KB

,pH Level,Organic Matter (%),Nitrogen Content (kg/ha),Phosphorus Content (kg/ha),Potassium Content (kg/ha)
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,7.495453,1.993592,29.883358,19.729932,39.877907
std,0.517155,0.515340,5.202697,5.067005,4.874751
min,5.889492,0.155817,11.994574,4.961838,24.116481
25%,7.157881,1.638911,26.217325,16.216471,36.703917
50%,7.500129,1.981462,29.822797,19.913737,39.796016
75%,7.846940,2.345688,33.232056,23.122285,43.382039
max,9.038430,3.764528,45.760284,35.588406,54.678290

In [32]:
water_usage.head()
water_usage.tail()
water_usage.sample(5)
water_usage.info()
water_usage.isnull()
water_usage.duplicated().sum()
water_usage.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   District                             1000 non-null   object
 1   Crop                                 1000 non-null   object
 2   Irrigation Method                    1000 non-null   object
 3   Water Consumption (liters/hectare)   1000 non-null   float64
 4   Water Availability (liters/hectare)  1000 non-null   float64
dtypes: float64(2), object(3)
memory usage: 39.2+ KB

       Water Consumption (liters/hectare)  Water Availability (liters/hectare)
count                         1000.000000                          1000.000000
mean                         10557.110759                         10543.621287
std                           2835.083841                          2905.372578
min                           4673.530139                          4505.257189
25%                           8238.226672                          8142.359044
50%                          10422.656935                         10524.479417
75%                          12808.359361                         12879.893934
max                          18631.091327                         18489.171266